:root {
  --main-color: #43a047;
  --main-font-size: 0.8rem;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--main-font-size);
}

button:not(:disabled)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 87%);
  opacity: 0;
  z-index: -1;
  border-radius: inherit;
  transition: opacity 0.4s ease;
  font-size: var(--main-font-size);
}

button:hover::after {
  opacity: 0.1;
}

button:active::after {
  opacity: 0.2;
}

button {
  border: none;
  background-color: inherit;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  border: 1px solid inherit;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.today {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

button.current,
button.today.current {
  color: white;
  background-color: var(--main-color);
  font-weight: 500;
}